<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{ project.name_full }}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pygment_trac.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        {% if request.args.success == '1' %}
            <div class="alert">
                <p>
                    <span class="close">&times;</span>
                    <strong>Success!</strong> You are ready to start rolling dice!
                </p>
            </div>
        {% endif %}
        <div class="wrapper">
            <header>
                <h1>{{ project.name_full }} <small>{{ project.version }}</small></h1>
                <p style="margin-bottom:0">Roll some dice on <a href="https://slack.com/">Slack</a>.</p>
                <p><img src="{{ url_for('static', filename='img/roll.png') }}" border="0" alt="{{ project.name_full }}" /></p>
                <p class="view"><a href="{{ project.github_url }}">View the Project on GitHub <small>EkielZan/Ez-slack-leguide</small></a></p>
                <ul>
                    <li><a href="{{ project.github_url }}/zipball/master">Download <strong>ZIP File</strong></a></li>
                    <li><a href="{{ project.github_url }}/tarball/master">Download <strong>TAR Ball</strong></a></li>
                    <li><a href="{{ project.github_url }}">Fork On <strong>GitHub</strong></a></li>
                </ul>
            </header>
            <section>
                <h1>Let’s Roll Some Dice!</h1>

                <p>Use this button to add the <code>/roll</code> slash command to your team:</p>

                <p><a href="{{ url_for('authenticate') }}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a></p>

                <hr>

                <h2 id="usage">Usage</h2>

                <p>Use command <code>/roll help</code> to view this usage information from within Slack.</p>

                <p><strong>Basic roll:</strong></p>

                <pre><code>/roll</code></pre>

                <p>Rolls a single 6-sided die.</p>

                <p><strong>Specify number of sides:</strong></p>

                <pre><code>/roll d20</code></pre>

                <p>Rolls a single 20-sided die.</p>

                <p><strong>Specify dice count:</strong></p>

                <pre><code>/roll 4d10</code></pre>

                <p>Rolls a 4 10-sided dice.</p>

                 <p><strong>Specify a modifier:</strong></p>

                <pre><code>/roll 1d6+3</code></pre>

                <p>Rolls a single 6-sided die with a +3 modifier.</p>

            </section>
            <footer>
				<p>This project is maintained by <a href="http://github.com/EkielZan">Gilles Dejeneffe</a></p>
                <p>Forked from a project maintained by <a href="http://github.com/ErinMorelli">Erin Morelli</a></p>
                <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a><br />&copy; {{ project.copyright }}</small></p>
            </footer>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scale.fix.js') }}"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-77960869-1', 'auto');
            ga('require', 'linkid');
            ga('send', 'pageview');
        </script>
    </body>
</html>
